ion-card-subtitle.percentProfit {
    font-size: 14px !important;
    padding-top: 5px;
    align-items: ;
    padding-right: 0px;
    flex:1;
    color: white;
    font-family: sans-serif;
}

ion-card-subtitle.right{
    align-items: right;
    flex:1;
    color:white;
    padding-bottom: 7px;
    font-size: 10px;
}

ion-card-subtitle{
    color: white;
    padding-bottom:7px;
    font-family: sans-serif;
    font-size: 10px;
}

ion-card-header{
    padding-top:5px;
    width:100%;

}

ion-card-title{
    font-size: 20px !important;
    font-family: sans-serif;
}

ion-row.modelperformance {
    font-size: 20px !important;
    font-family: sans-serif;
    text-align: right;
}

ion-row.modelevents {
    font-size: 20px !important;
    font-family: sans-serif;
    text-align: right;
    padding-left: 5%;
    padding-right: 10px;
}

ion-grid{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;

}

ion-col{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

ion-col.right{
    padding-right: 0px;
    padding-bottom:0px;
    text-align: right;
}

ion-col.profitright{
    padding-right: 0px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: right;
}

ion-chip.modelcardprofit{
    background-color: #171717;
    color: white;
    padding-left: 15px;
    padding-right: 0px;
    font-size: 10px;
    height: 20px;
    width:60%;
}

ion-card.modelcard{
    background-color: #002117;
    border-radius: 30px;
    --border-color: #ffffff;
    border-width: 0px;
    border-style: outset;
    width:74%;
}

ion-side-menu{
    max-width:70px;
    color:#023021;
}

ion-menu{
  max-width:70px;
  color:#023021;
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #03290e));
  max-width:80px
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header, ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #757575;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu-toggle{
    justify-content: center;
}
ion-menu.ios ion-content {
  --padding-bottom: 100px;
}

ion-menu.ios ion-list {
  padding: 100px 0px 0px 0px;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 0px;
  --padding-end: 0px;
  --min-height: 100px;
}

ion-menu.ios ion-item ion-icon {
  font-size: 30px;
  color: #fff;
}

ion-menu.ios ion-item .selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
