ion-card-subtitle.percentProfit {
    font-size: 14px !important;
    padding-top: 5px;
    align-items: ;
    padding-right: 0px;
    flex:1;
    color: white;
}

ion-row.date-picker {
  -ms-overflow-style: none;
  scrollbar-width: none;
  }

ion-card-subtitle.right{
    align-items: right;
    flex:1;
    color:white;
}

ion-card-subtitle.graph{
    color: #a1a1a1;
    align-items: center;
    padding-left: 17%;
    font-family: sans-serif;
}


ion-card-header{
    padding-top:5px;
}

ion-card-title{
    font-size: 20px !important;
}

ion-grid{
    padding-left: 0px;
    padding-right: 0px;
}

ion-col{
    padding-left: 0px;
    padding-right: 0px;
}

ion-col.right{
    padding-right: 0px;
    text-align: right;
}

ion-grid.timelineselect{
    padding-right: 0px;
    padding-left: 73%;
    padding-top: 0px;
    padding-bottom: 2px;
    text-align: right;
}

ion-grid.timelineselectincome{
    padding-right: 0px;
    padding-left: 10px;
}

ion-button.timelineselect{
    background-color: #000;
    color: #fff;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 10px;
    height:20px;
    width:80%;
}

ion-card{
    background-color: #000000;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 20px;
}

ion-card.portfolio{
    background-color: #000f0b;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
}

ion-card.customgraph{
    padding-left: 0px;
}



ion-menu{
  max-width:70px;
  color:#023021;
}

ion-side-menu{
  max-width:70px;
  color:#023021;
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #03290e));
  max-width:80px
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header, ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #757575;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu-toggle{
    justify-content: center;
}
ion-menu.ios ion-content {
  --padding-bottom: 100px;
}

ion-menu.ios ion-list {
  padding: 100px 0px 0px 0px;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 0px;
  --padding-end: 0px;
  --min-height: 100px;
}

ion-menu.ios ion-item ion-icon {
  font-size: 30px;
  color: #fff;
}

ion-menu.ios ion-item .selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
